<?xml version='1.1' encoding='UTF-8'?>
<project>
	<actions/>
	<description>World cloud generator</description>
	<keepDependencies>false</keepDependencies>
	<properties>
		<jenkins.model.BuildDiscarderProperty>
			<strategy class="hudson.tasks.LogRotator">
				<daysToKeep>-1</daysToKeep>
				<numToKeep>5</numToKeep>
				<artifactDaysToKeep>-1</artifactDaysToKeep>
				<artifactNumToKeep>-1</artifactNumToKeep>
			</strategy>
		</jenkins.model.BuildDiscarderProperty>
	</properties>
	<scm class="hudson.plugins.git.GitSCM" plugin="git@5.2.0">
		<configVersion>2</configVersion>
		<userRemoteConfigs>
			<hudson.plugins.git.UserRemoteConfig>
				<url>https://github.com/Fenikks/word-cloud-generator.git</url>
			</hudson.plugins.git.UserRemoteConfig>
		</userRemoteConfigs>
		<branches>
			<hudson.plugins.git.BranchSpec>
				<name>*/master</name>
			</hudson.plugins.git.BranchSpec>
		</branches>
		<doGenerateSubmoduleConfigurations>false</doGenerateSubmoduleConfigurations>
		<submoduleCfg class="empty-list"/>
		<extensions/>
	</scm>
	<canRoam>true</canRoam>
	<disabled>false</disabled>
	<blockBuildWhenDownstreamBuilding>false</blockBuildWhenDownstreamBuilding>
	<blockBuildWhenUpstreamBuilding>false</blockBuildWhenUpstreamBuilding>
	<triggers/>
	<concurrentBuild>false</concurrentBuild>
	<builders>
		<hudson.tasks.Shell>
			<command>sed -i &quot;s/1.DEVELOPMENT/1.$BUILD_NUMBER/g&quot; static/version

				GOOS=linux GOARCH=amd64 go build -o ./artifacts/word-cloud-generator -v

				md5sum artifacts/word-cloud-generator
				gzip -f artifacts/word-cloud-generator
				ls -l artifacts/
			</command>
			<configuredLocalRules/>
		</hudson.tasks.Shell>
		<sp.sd.nexusartifactuploader.NexusArtifactUploader plugin="nexus-artifact-uploader@2.14">
			<nexusVersion>nexus3</nexusVersion>
			<protocol>http</protocol>
			<nexusUrl>192.168.50.5:8081</nexusUrl>
			<groupId>1</groupId>
			<version>1.$BUILD_NUMBER</version>
			<repository>wcg-repo</repository>
			<artifacts>
				<sp.sd.nexusartifactuploader.Artifact>
					<artifactId>word-cloud-generator</artifactId>
					<type>gz</type>
					<classifier></classifier>
					<file>artifacts/word-cloud-generator.gz</file>
				</sp.sd.nexusartifactuploader.Artifact>
			</artifacts>
			<credentialsId>nexus_creds_wcg</credentialsId>
		</sp.sd.nexusartifactuploader.NexusArtifactUploader>
		<org.jvnet.hudson.plugins.SSHBuilder plugin="ssh@2.6.1">
			<siteName>vagrant@192.168.50.6:22</siteName>
			<command>sudo service wordcloud stop

				curl -X GET &quot;http://192.168.50.5:8081/repository/wcg-repo/hometask/word-cloud-generator/1.$BUILD_NUMBER/word-cloud-generator-1.$BUILD_NUMBER.gz&quot;
				-o /opt/wordcloud/word-cloud-generator.gz -u $NEXUS_USER:$NEXUS_PASSWORD
				ls -l /opt/wordcloud
				gunzip -f /opt/wordcloud/word-cloud-generator.gz
				chmod +x /opt/wordcloud/word-cloud-generator

				sudo service wordcloud start
			</command>
			<execEachLine>false</execEachLine>
			<hideCommand>true</hideCommand>
		</org.jvnet.hudson.plugins.SSHBuilder>
		<hudson.tasks.Shell>
			<command>res=`curl -s -H &quot;Content-Type: application/json&quot; -d &apos;{&quot;text&quot;:&quot;ths is a really really really important thing
				this is&quot;}&apos; http://192.168.50.5:8888/version | jq &apos;. | length&apos;`
				if [ &quot;1&quot; != &quot;$res&quot; ]; then
				exit 99
				fi

				res=`curl -s -H &quot;Content-Type: application/json&quot; -d &apos;{&quot;text&quot;:&quot;ths is a really really really important thing this
				is&quot;}&apos; http://192.168.50.5:8888/api | jq &apos;. | length&apos;`
				if [ &quot;7&quot; != &quot;$res&quot; ]; then
				exit 99
				fi
			</command>
			<configuredLocalRules/>
		</hudson.tasks.Shell>
		<org.jvnet.hudson.plugins.SSHBuilder plugin="ssh@2.6.1">
			<siteName>vagrant@192.168.50.7:22</siteName>
			<command>sudo service wordcloud stop

				curl -X GET &quot;http://192.168.50.5:8081/repository/wcg-repo/hometask/word-cloud-generator/1.$BUILD_NUMBER/word-cloud-generator-1.$BUILD_NUMBER.gz&quot;
				-o /opt/wordcloud/word-cloud-generator.gz -u $NEXUS_USER:$NEXUS_PASSWORD
				ls -l /opt/wordcloud
				gunzip -f /opt/wordcloud/word-cloud-generator.gz
				chmod +x /opt/wordcloud/word-cloud-generator

				sudo service wordcloud start
			</command>
			<execEachLine>false</execEachLine>
			<hideCommand>true</hideCommand>
		</org.jvnet.hudson.plugins.SSHBuilder>
	</builders>
	<publishers>
		<hudson.tasks.ArtifactArchiver>
			<artifacts>artifacts/*</artifacts>
			<allowEmptyArchive>false</allowEmptyArchive>
			<onlyIfSuccessful>true</onlyIfSuccessful>
			<fingerprint>false</fingerprint>
			<defaultExcludes>true</defaultExcludes>
			<caseSensitive>true</caseSensitive>
			<followSymlinks>false</followSymlinks>
		</hudson.tasks.ArtifactArchiver>
	</publishers>
	<buildWrappers>
		<org.jenkinsci.plugins.credentialsbinding.impl.SecretBuildWrapper plugin="credentials-binding@631.v861c06d062b_4">
			<bindings>
				<org.jenkinsci.plugins.credentialsbinding.impl.UsernamePasswordMultiBinding>
					<credentialsId>nexus_creds_wcg</credentialsId>
					<usernameVariable>NEXUS_USER</usernameVariable>
					<passwordVariable>NEXUS_PASSWORD</passwordVariable>
				</org.jenkinsci.plugins.credentialsbinding.impl.UsernamePasswordMultiBinding>
			</bindings>
		</org.jenkinsci.plugins.credentialsbinding.impl.SecretBuildWrapper>
		<hudson.plugins.timestamper.TimestamperBuildWrapper plugin="timestamper@1.25"/>
		<org.jenkinsci.plugins.golang.GolangBuildWrapper plugin="golang@1.4">
			<goVersion>go_lang</goVersion>
		</org.jenkinsci.plugins.golang.GolangBuildWrapper>
	</buildWrappers>
</project>